<table border = "1" style = "width: 100%">
<tr>
  
  <th><p>First Name</p></th>
  <% @all_contacts.each do |contact|
  %>
  <td> <%= link_to "#{contact.first_name}", "contacts/#{contact.id}" %></td>
  <% end %>
</tr>

<tr>
  <th><p>Middle Name</p></th>
  <% @all_contacts.each do |contact|
  %>
  <td><p><%= contact.middle_name%></p></td>
  <% end %>
</tr>

<tr>
  <th><p>Last Name</p></th>
  <% @all_contacts.each do |contact|
  %>
  <td><p><%= contact.last_name%></p></td>
  <% end %>
</tr>

<tr>
  <th><p>email</p></th>
  <% @all_contacts.each do |contact|
  %>
  <td><p><%= contact.email%></p></td>
  <% end %>
</tr>

<tr>
  <th><p>Phone Number</p></th>
  <% @all_contacts.each do |contact|
  %>
  <td><p><%= contact.phone_number%></p></td>
  <% end %>
</tr>

<tr>
  <td> </td>
  <% @all_contacts.each do |contact| %>
  <td><%= link_to "Edit", "contacts/#{contact.id}/edit" %></td>
  <% end %>
</tr>
</table>

<% Group.all.each do |group| %>
<a href='/contacts?group=<%= group.name %>'> <%=group.name%> | </a> 
<% end %>
<a href='/'> Home </a>
