<h3><%= @contact.first_name %></h3>
<h3><%= @contact.last_name %></h3>
<h3><%= @contact.email %></h3>
<h3><%= @contact.phone_number %></h3>
<%= link_to "Delete Record", "/contacts/#{@contact.id}", method: :delete %>