<!DOCTYPE html>
<html>
<head>
  <title>ContactApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_tag '/search', method: :post do %>
  <%= label_tag :search %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %>
  <% end %>

   <%= link_to 'Sign In', '/users/sign_in' if !current_user %>
   <%= link_to 'Sign Out', '/users/sign_out', method: :delete if current_user %>
   <%= link_to 'Sign Up', '/users/sign_up' if !current_user %>
<%= yield %>

</body>
</html>
